.Homeimg img{
	width: 90%;
	border-width: 5px;
	float: right;
	border-style: solid;
	border-color: white;
	}
body {
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 150px;
		margin-left: 80px;
		background-color: rgb(236, 232, 232)
	}

.navbar-header{
        font-style: bold;
        text-transform: uppercase
		border-width: 5px;
		border-color: rgb(255, 255, 255); 
		background-color: teal;
	}

.container{
    background-color: white;
    border-color:white 
}	

h1{
	color: teal;
}

.HWsum img{
	width: 50%;
	border-width: 5px;
	float: left;
	border-style: solid;
	border-color: white;
	}

.Genimg img{
	width: 70%;
	border-width: 5px;
	border-style: solid;
	}

.imgbutton img{
	width: 100%;
}

.navbar{
	background-color:white;
	}