.Homeimg img{
	width: 90%;
	border-width: 5px;
	float: right;
	border-style: solid;
	border-color: white;
	}
body {
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 150px;
		margin-left: 80px;
		background-color: rgb(231, 227, 255)
	}

.navbar-header {
        font-style: bold;
		border-width: 5px;
		border-color: rgb(255, 255, 255); 
		background-color: rgb(201, 201, 201)
	}
	
.navbar-default .navbar-brand {
		color: #FFFF;
	}
.container{
    background-color: rgb(234, 244, 247);
    border-color:white 
}	

h1{
	color: rgb(61, 60, 60);
	
}

.HWsum img{
	width: 50%;
	border-width: 5px;
	float: left;
	border-style: solid;
	border-color: white;
	}

.Genimg img{
	width: 70%;
	border-width: 5px;
	border-style: solid;
	border-color: white
	}

.imgbutton img{
	width: 100%;
}

.navbar{
	background-color:rgb(234, 244, 247);
	}